<%
  fs = require("santoku.fs")
  it = require("santoku.iter")
  arr = require("santoku.array")
  views = compiledir(fs.join("client/spa", spa_name))
  partials = compiledir("client/res/partials")
%>

<!DOCTYPE html>
<html>
  <head>

    <% -- Do we really want this as the base href? Should it just be for
       -- specific things, like the link to Photomapper? %>
    <base target="_blank" rel="noopener noreferrer">

    <title><% return app.title %></title>

    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="<% return app.light_bg %>">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=<% return scalable and "yes" or "no" %>,uc-fitscreen=yes">
    <meta name="description" content="<% return app.description %>">
    <meta name="keywords" content="<% return app.keywords %>">

    <meta name="apple-mobile-web-app-title" content="<% return app.title %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<% return app.light_bg %>">

    <meta name="msapplication-navbutton-color" content="<% return app.light_bg %>">
    <meta name="msapplication-TileColor" content="<% return app.light_bg %>">

    <% -- TODO
       -- <meta name="msapplication-config" content="browserconfig.xml">
       -- <meta name="screen-orientation" content="portrait"> %>

    <meta name="application-name" content="<% return app.title %>">
    <meta name="msapplication-tooltip" content="<% return app.description %>">
    <meta name="msapplication-TileImage" content="/icon-180.png">
    <meta name="msapplication-starturl" content="">
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="nightmode" content="enable">
    <meta name="layoutmode" content="fitscreen">
    <meta name="imagemode" content="force">

    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
    <link rel="apple-touch-icon" href="/icon-180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <style>
      <% return partials.css.common() %>
    </style>

    <% return arr.concat(it.collect(it.map(function (name, tmpl)
      return [[
        <template data-view="]] .. name .. [[">
          ]] .. tmpl() .. [[
        </template>
      ]]
    end, it.pairs(views.html))), "\n") %>

    <template class="ripple">
      <div class="ripple-container">
        <div class="ripple-wave"></div>
      </div>
    </template>

  </head>

  <body>
    <script src="/index.js"></script>
    <% push(app.service_worker) %>
      <button class="button warn-update-worker">
        A new version of <% return app.title %>
        is available. Click to Update!
      </button>
    <% pop() %>
  </body>

</html>
