@import "../../res/tailwind/theme.css";
@source "../../res/web/templates/*.html";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant sw-ready (&:is(body.sw-ready *));
@custom-variant sw-update (&:is(body.sw-update-available *));
@custom-variant sw-error (&:is(body.sw-error *));
@custom-variant db-error (&:is(body.db-error *));
@custom-variant session (&:is(body:has(#session-state.has-session) *));
@custom-variant no-session (&:is(body:has(#session-state.no-session) *));

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/roboto-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/roboto-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/roboto-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/roboto-700.woff2') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
}
